.cart-page {
    min-height: 100vh;

}

.cart-page h1 {
    margin: 30px 0px;
}

.cart-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.cart-page-loading {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}