.item {
    width: 150px;
    overflow: hidden;
    border: 1px solid salmon ;
}

.item p {
    margin: 6px 0px;
}

.item-price {
    font-size: 18px;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}