.cart-item {
    max-width: 350px;
    cursor: pointer;
}

.cart-item img {
    max-width: 100%;
}

.cart-item p {
    font-size: 1rem;
    height: 1.4rem;
    overflow: hidden;
}

.cart-item-price {
    font-size: 1.5rem;
}

.cart-item-price::before {
    content: "$";
}

/* .item img:hover {
    transform: scale(1.05);
    transition: 0.6s;
} */